@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:wght@400;500;600;700&display=swap");

:root {
  --color-body: #fff;
  --color-heading: #dfefca;
  --color-base: #abd699;
  --color-base2: #75c9b7;
  --color-white: #fff;
  --color-navy: #16123f;
  --font-base: "Barlow Condensed";
}

body {
  background-image: linear-gradient(var(--color-base), var(--color-base2));
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1 {
  color: var(--color-body);
  font-weight: 500;
  font-size: 80px;
}

h2 {
  color: var(--color-body);
  font-weight: 500;
  font-size: 40px;
  margin-top: 80px;
}

p1,
h3 {
  color: var(--color-navy);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease;
}

a:hover {
  color: var(#fff);
}

.container-base {
  background-color: var(--color-heading);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -7px -7px 0 0 var(--color-white);
}

.icon {
  color: var(--color-body);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: var(--color-base);
}

/* Section base Styles*/
.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #fff;
}

.full-height2 {
  min-height: 200vh;
  height: 120%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #fff;
}

.short-height {
  min-height: 20vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #fff;
}
/* End of Section base Styles*/

/* Nav bar styles*/

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-body);
}
.navbar .nav-link:hover {
  color: var(--color-navy);
}

.navbar {
  background: transparent;
}

#content-holder {
  padding-left: 60px;
  padding-top: 200px;
}

.navbar-brand i {
  margin-right: 25px;
  margin-top: 15px;
}

.icon1 {
  font-size: 36px;
  word-spacing: 50px;
  color: var(--color-body);
}

.icon1:hover {
  color: var(--color-navy);
}

.navbar .nav-link.active {
  color: var(--color-navy);
}

/* End of Nav bar styles */

/*Home Section*/

.selfie {
  width: 45%;
  height: 210%;
  border: 8px solid var(--color-body);
  margin-left: 800px;
  margin-top: -150px;
}

.home-text {
  font-size: 20px;
  margin-top: 120px;
}

.pic1 {
  width: 13%;
  height: 13%;
  margin-top: -150px;
  margin-left: 810px;
}

.pic2 {
  width: 10%;
  height: 10%;
  margin-top: -500px;
  margin-left: 1100px;
}

.elements {
  animation: move 2.5s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-8px, 0px);
  }
  50% {
    transform: translate(0px, -8px);
  }
  100% {
    transform: translate(-8px, 0px);
  }
}

table {
  margin-left: -50px;
  margin-top: -60px;
  scale: 0.9;
}

/* End of home section */

/* Projects Section */
.pswb {
  width: 100%;
  height: 1200%;
}
.pswb3 {
  width: 100%;
  height: 10%;
  scale: 90%;
}
p2 {
  color: var(--color-navy);
}

.card-custom .card-custom-img {
  overflow: hidden;
}

.card-custom .card-custom-img img {
  transition: all 0.4s ease;
}
.card-custom:hover .card-custom-img img {
  transform: scale(1.2);
}
/* End of Projects Section */

@media only screen and (max-width: 900px) {
  table {
    margin-top: 30px;
    margin-left: 7px;
  }
  .home-text {
    margin-left: -30px;
  }
  .full-height {
    min-height: 140vh;
    height: 130%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
  }
  .full-height2 {
    min-height: 240vh;
    height: 130%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
  }
}
