@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:wght@400;500;600;700&display=swap");

:root {
  --color-body: #006400;
  --color-heading: #dfefca;
  --color-base: #c2efb3;
  --font-base: "Barlow Condensed";
}

body {
  background-color: var(--color-base);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1,
h2 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(var(--color-body));
  transition: all 0.4s ease;
}

a:hover {
  color: var(#fff);
}

img {
  width: 100%;
}
